* {
    font-family: Avenir;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar {
    font-size: calc(1vw + 1vh);
    text-align: center;
    color: white;
    display: flex;
    list-style-type: none;
    padding-top: 15px;
}

.navbar>li {
    flex: 1;
}

.navbar a:hover {
    color: #f1c40f;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: calc(85vh - 60px);
    margin-top: 60px;
    background-color: #f1c40f;
}

.banner-about {
    background-image: url('../assets/Aboutus.jpg')
}

.banner-main {
    background-image: url('../assets/main-banner.jpg');
}

.banner-productos {
    background-image: url('../assets/productos.jpg')
}

.banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-overlay {
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5)
}

.banner-overlay span {
    display: table-cell;
    vertical-align: middle;
    font-size: calc(2vw + 1vh);
    text-align: center;
    color: white;
    text-shadow: 0 0 3px #f1c40f;
}

.resposive-text {
    text-align: center;
    font-size: calc(2vw + 1vh);
}

.text-bordered {
    text-shadow: 0 0 3px black;
    color: white;
}

.flex-grid {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.col {
    width: 32%;
    text-decoration: none;
    transition: 1s;
    border-radius: 10px;
    padding: 20px;
}

.flex-grid {
    margin: 0 0 20px 0;
}

.grow {
    display: inline-block;
}

.col:hover {
    background-color: rgba(0, 0, 0, .2);
}

.col button:hover {
    color: #f1c40f;
    transform: scale(1.05, 1.07);
}

.col img {
    width: 100%;
    height: auto;
}

.responsive-img {
    width: 25%;
    height: auto;
}

@media (max-width: 500px) {
    .flex-grid {
        display: flex;
        flex-flow: column;
    }
    .col {
        width: 100%;
        margin: 0 0 10px 0;
        background-color: rgba(0, 0, 0, .2);
        height: 100%
    }
    .col-two {
        min-width: 100%;
        margin: 0 0 5px 0;
        height: 95%;
    }
    .flex-top {
        order: 1;
    }
    .flex-bot {
        order: 2;
    }
}

.flex-top,
.flex-bot {
    text-align: center;
    margin: auto;
    width: 100%;
}

.primary-button {
    border: none;
    padding: 10px 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    transition: 0.2s;
    transform: scale(1, 1);
    cursor: pointer;
}

.primary-button:hover {
    color: #f1c40f;
    transform: scale(1.05, 1.07);
    /* change the direction of the change here */
}

.btn-1 {
    background-color: black;
}

.hack-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 100%;
}

/* Productos */

.col-two {
    width: 49%;
    text-decoration: none;
    transition: 1s;
    padding: 20px;
    border-radius: 10px;
}

.product-block {
    margin: 3%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .2)
}